.pointer {
    cursor: pointer;
}

.bg-steel-blue {
    background-color: #4682B4 !important;
    color: white !important; /* Adjust text color for contrast */
}

.bg-forest-green {
    background-color: #228B22 !important;
    color:#fff !important;
}

.bg-khaki {
    background-color: #F0E68C !important;
    color:#111 !important;
}

.bg-khaki-br {
    background-color: #F0E68C !important;
    color:#111 !important;
    border:2px solid #111 !important;
}

.bg-cherry {
    background-color: #D2042D !important;
    color:#fff !important;
}

.bg-cherry-br {
    background-color: #D2042D !important;
    color:#fff !important;
    border:2px solid #fff !important;
}

.bg-cherry-inv-br {
    background-color: #fff !important;
    color:#D2042D !important;
    border:2px solid #D2042D !important;;
}

.bg-black-br {
    background-color: #fff !important;
    color:#111 !important;
    border:2px solid #111 !important;
}

.font-14 {
    font-size:14px;
    font-family:"Tahoma", serif;
}

.font-16 {
    font-size:16px;
    font-family:"Tahoma", serif;
}

.font-18 {
    font-size:18px;
    font-family:"Tahoma", serif;
}

.font-20 {
    font-size:20px;
    font-family:"Tahoma", serif;
}

.card-img-sq {
    width:250px;
    height:250px;
    object-fit: contain;
}




*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

body {
    display: flex;
    justify-content: center;
}

.swiper-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}