.pointer {
    cursor: pointer;
}

.bg-steel-blue {
    background-color: #4682B4 !important;
    color: white !important; /* Adjust text color for contrast */
}

.bg-pumpkin-orange {
    background-color: #FF7518 !important;
    color: white !important; /* Adjust text color for contrast */
}

.forest-green {
    color: #228B22 !important;
}

.bg-forest-green {
    background-color: #228B22 !important;
    color:#fff !important;
}

.bg-khaki {
    background-color: #F0E68C !important;
    color:#111 !important;
}

.bg-khaki-br {
    background-color: #F0E68C !important;
    color:#111 !important;
    border:2px solid #111 !important;
}

.bg-cherry-inv {
    background-color: #fff !important;
    color:#D2042D !important;
}

.bg-cherry {
    background-color: #D2042D !important;
    color:#fff !important;
}

.bg-cherry-br {
    background-color: #D2042D !important;
    color:#fff !important;
    border:2px solid #fff !important;
}

.bg-cherry-inv-br {
    background-color: #fff !important;
    color:#D2042D !important;
    border:2px solid #D2042D !important;;
}

.bg-black-br {
    background-color: #fff !important;
    color:#111 !important;
    border:2px solid #111 !important;
}

.font-12 {
    font-size:12px;
    font-family:"Tahoma", serif;
}

.font-14 {
    font-size:14px;
    font-family:"Tahoma", serif;
}

.font-16 {
    font-size:16px;
    font-family:"Tahoma", serif;
}

.font-18 {
    font-size:18px;
    font-family:"Tahoma", serif;
}

.font-20 {
    font-size:20px;
    font-family:"Tahoma", serif;
}

.card-img-sq {
    width:250px;
    height:250px;
    object-fit: contain;
}

.flex-center {
    /* border:2px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hide-scroll {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
}

.accordion {
    .collapsed {
        color: #fff;
        background-color: #2D5430;
    }

    .accordion-button:not(.collapsed) {
        background-color: #9DE3A9;
    }

    .accordion-button:hover {
        color:#fff;
        background-color: #9DE3A9;
    }

    .accordion-body:hover {
        background-color: #9DE3A9;
    }
 }

/* https://tobiasahlin.com/spinkit/ */
.spinner-container {
    height: 100vh; /* Magic here */
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width:250px;
    height:250px;
    line-height: 300px;
    text-align: center;
    margin:0 auto;

    > div {
        width: 18px;
        height: 18px;
        background-color: #333;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}