.pointer {
    cursor: pointer;
}

.bg-steel-blue {
    background-color: #4682B4 !important;
    color: white !important; /* Adjust text color for contrast */
}
.forest-green {
    color: #228B22 !important;
}

.bg-forest-green {
    background-color: #228B22 !important;
    color:#fff !important;
}

.bg-khaki {
    background-color: #F0E68C !important;
    color:#111 !important;
}

.bg-khaki-br {
    background-color: #F0E68C !important;
    color:#111 !important;
    border:2px solid #111 !important;
}

.bg-cherry {
    background-color: #D2042D !important;
    color:#fff !important;
}

.bg-cherry-br {
    background-color: #D2042D !important;
    color:#fff !important;
    border:2px solid #fff !important;
}

.bg-cherry-inv-br {
    background-color: #fff !important;
    color:#D2042D !important;
    border:2px solid #D2042D !important;;
}

.bg-black-br {
    background-color: #fff !important;
    color:#111 !important;
    border:2px solid #111 !important;
}

.font-12 {
    font-size:12px;
    font-family:"Tahoma", serif;
}

.font-14 {
    font-size:14px;
    font-family:"Tahoma", serif;
}

.font-16 {
    font-size:16px;
    font-family:"Tahoma", serif;
}

.font-18 {
    font-size:18px;
    font-family:"Tahoma", serif;
}

.font-20 {
    font-size:20px;
    font-family:"Tahoma", serif;
}

.card-img-sq {
    width:250px;
    height:250px;
    object-fit: contain;
}

.flex-center {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  height: 100px;         /* Example height for the container */
  border: 1px solid #ccc; /* For visualization */
}

.hide-scroll {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
}

.accordion-body:hover {
    background-color: #F0E68C;
}