.pointer {
    cursor: pointer;
}

.bg-steel-blue {
    background-color: #4682B4 !important;
    color: white !important; /* Adjust text color for contrast */
}

.bg-forest-green {
    background-color: #228B22 !important;
    color:#fff !important;
}

.bg-khaki {
    background-color: #F0E68C !important;
    color:#111 !important;
}

.bg-cherry-inv {
    background-color: #fff !important;
    color:#D2042D !important;
    border:2px solid #D2042D;
}

.bg-desert {
    background-color: #FAD5A5;
    color:#111 !important;
}

.font-14 {
    font-size:14px;
    font-family:"Tahoma", serif;
}

.font-16 {
    font-size:16px;
    font-family:"Tahoma", serif;
}

.font-18 {
    font-size:18px;
    font-family:"Tahoma", serif;
}

.font-20 {
    font-size:20px;
    font-family:"Tahoma", serif;
}

.card-img-sq {
    width:500px;
    height:281px;
    object-fit: contain;
}